Repository kottans/frontend-2022-homeworks, pull requests merged in 2022-10, with the labels that each got.

#364 added a-tiny-js-world
  submissions/loki13btz/tiny-js-world/index.js
Labels: task-TJSW

#375 Tiny js world
  submissions/VolodymyrRutskyi/tiny-js-world/index.js
Labels: task-TJSW-OOP

#613 Js world
  submissions/kirill8210/js-world/index.js
Labels: task-TJSW, Stage0.1

#735 Tjsw task
  submissions/YuliiaDyka/tiny-js-world/index.js
Labels: task-TJSW, Stage0.1, :clock11: LDS

#168 Memory Pair Game
  submissions/vovan-zt/Memory-Pair-Game/index.html
  submissions/vovan-zt/Memory-Pair-Game/script.js
  submissions/vovan-zt/Memory-Pair-Game/style.scss
Labels: task-MPG, Stage0.1

#516 My PR Classic Frogger Game
  submissions/Nik3264/Frogger-Game/app.js
Labels: task-Frogger, self-check-done, Stage0.1

#365 Submitting the "Hooli-style Popup" task for review
  submissions/VikTorNik/html-css-popup/index.html
  submissions/VikTorNik/html-css-popup/style.scss
Labels: task-PopUp, Stage0.1

#367 friends-app
  submissions/hisbvdis/friends-app/css/blocks/filters.css
  submissions/hisbvdis/friends-app/css/blocks/search.css
  submissions/hisbvdis/friends-app/css/blocks/user.css
  submissions/hisbvdis/friends-app/css/blocks/users.css
  submissions/hisbvdis/friends-app/css/globals/globals.css
  submissions/hisbvdis/friends-app/css/globals/sr-only.css
  submissions/hisbvdis/friends-app/css/globals/variables.css
  submissions/hisbvdis/friends-app/css/layout/header.css
  submissions/hisbvdis/friends-app/css/layout/main.css
  submissions/hisbvdis/friends-app/css/style.css
  submissions/hisbvdis/friends-app/index.html
  submissions/hisbvdis/friends-app/js/randomuser.service.js
  submissions/hisbvdis/friends-app/js/script.js
Labels: task-Friends, Stage0.1

#594 Classic Frogger Game
  submissions/YuraZagor/Frogger/app.js
Labels: task-Frogger, UAT-done, self-check-done, OQ, Stage0.1

#500 classic frogger game done
  submissions/andysmokk/classic-frogger-game/app.js
Labels: task-Frogger, self-check-done, OQ, Stage0.1

#617 Classic Frogger Game
  submissions/Kostiantyn_Rakhmanov/frogger/app.js
Labels: task-Frogger, UAT-done, self-check-done

#513 Object Oriented JS (frogger)
  submissions/MosQuitO404/OOPJS_frogger/app.js
Labels: task-Frogger, self-check-done, Stage0.1

#450 JS OOP Frogger Game Task
  submissions/franchukv/js-oop-frogger/app.js
  submissions/franchukv/js-oop-frogger/engine.js
Labels: task-Frogger, UAT-done, self-check-done, Stage0.1

#576 OOP exersice
  submissions/iva-stasia/oop-exercise/index.js
Labels: task-TJSW-OOP, self-check-done, Stage0.1

#570 Tiny-JS-World OOP
  submissions/nvklap/tinyoop/index.js
Labels: task-TJSW-OOP, self-check-done, Stage0.1

#454 JS OOP Exercise task
  submissions/franchukv/js-oop/index.js
Labels: task-TJSW-OOP, self-check-done, Stage0.1

#399 OOP_exercise
  submissions/Oleksandr-Heleta/OOP_exercise/index.js
Labels: discussion, task-TJSW-OOP, Stage0.1

#342 New index.js (tiny JS) for OOP Exercise
  submissions/Levi123/oop-exercise/index.js
Labels: task-TJSW-OOP, Stage0.1

#339 OOP exercise
  submissions/crealime/oop-exercise/index.js
Labels: task-TJSW-OOP, self-check-done, Stage0.1

#505 Add OOP to tiny-js-world
  submissions/HelenGreent/OOP-exercise/index.js
Labels: task-TJSW-OOP, Stage0.1

#518 OOP Exercise
  submissions/unabyband/oop_exercise/index.js
Labels: task-TJSW-OOP, self-check-done, Stage0.1

#347 Frogger game by Ivan Chukhalo (the task is a part of #9 'Object Oriented JS' module)
  submissions/ivan-chukhalo/frogger-game/app.js
Labels: task-Frogger, UAT-done, self-check-done

#578 OOP Exercise (update tiny JS world)
  submissions/AndriyM/oop_exercise_tiny_world/index.js
Labels: task-TJSW-OOP, self-check-done, Stage0.1

#652 Oop exercise
  submissions/Nik3264/oop-exercise/index.js
Labels: task-TJSW-OOP, self-check-done, OQ, Stage0.1

#555 oop exercise done
  submissions/andysmokk/oop-exercise/index.js
Labels: task-TJSW-OOP, self-check-done, OQ, Stage0.1

#536 solution task a-tiny-JS-world-OOP
  submissions/VikTorNik/a-tiny-JS-world--OOP/index.js
Labels: task-TJSW-OOP, self-check-done, Stage0.1

#519 completed frogger-task
  submissions/sofiichuk/frogger-task/app.js
Labels: task-Frogger, self-check-done

#310 Memory Pair Game
  submissions/DmytryjK/memory-pair-game/index.html
  submissions/DmytryjK/memory-pair-game/js/script.js
  submissions/DmytryjK/memory-pair-game/sass/adaptive/media.scss
  submissions/DmytryjK/memory-pair-game/sass/components/animation.scss
  submissions/DmytryjK/memory-pair-game/sass/components/base.scss
  submissions/DmytryjK/memory-pair-game/sass/components/main.scss
  submissions/DmytryjK/memory-pair-game/sass/components/timer.scss
  submissions/DmytryjK/memory-pair-game/sass/components/winpage.scss
  submissions/DmytryjK/memory-pair-game/sass/style.scss
Labels: task-MPG, UAT-done, Stage0.1

#338 Memory Pair Game
  submissions/crealime/memory-pair-game/css/main.css
  submissions/crealime/memory-pair-game/css/reset.css
  submissions/crealime/memory-pair-game/index.html
  submissions/crealime/memory-pair-game/js/main.js
  submissions/crealime/memory-pair-game/json/images.json
Labels: task-MPG, UAT-done, self-check-done, Stage0.1

#705 Add Memory Game task
  submissions/AriadnaKravchuk/memory-game/index.html
  submissions/AriadnaKravchuk/memory-game/script.js
  submissions/AriadnaKravchuk/memory-game/style.css
Labels: task-MPG, Stage0.1
