Repository kottans/frontend-2022-homeworks, pull requests merged in 2022-07, with the labels that each got.

#4 HTML-CSS-Popup
  submissions/kovalov/html-css-popup/index.html
  submissions/kovalov/html-css-popup/styles.css
Labels: task-PopUp

#3 create popup
  submissions/pozzitive11/popup/css/style.css
  submissions/pozzitive11/popup/index.html
Labels: task-PopUp

#6 Hooli-style Popup
  submissions/antonkottans/hooli-style-popup/index.html
  submissions/antonkottans/hooli-style-popup/style.css
Labels: task-PopUp

#10 html-css-popup
  submissions/OlStaniev/html-css-popup/css/style.scss
  submissions/OlStaniev/html-css-popup/index.html
Labels: task-PopUp

#7 popup
  submissions/morenko/html-css-popup/index.html
  submissions/morenko/html-css-popup/style.css
Labels: task-PopUp

#9 add all main files which create popup
  submissions/BogdanGapon/HTML & CSS popup/index.html
  submissions/BogdanGapon/HTML & CSS popup/sass/base/_base.scss
  submissions/BogdanGapon/HTML & CSS popup/sass/base/_container.scss
  submissions/BogdanGapon/HTML & CSS popup/sass/layout/_header.scss
  submissions/BogdanGapon/HTML & CSS popup/sass/style.scss
  submissions/BogdanGapon/HTML & CSS popup/sass/utils/_variables.scss
Labels: task-PopUp

#17 Add GitHub workflow to post PR checklists based on labels
  .github/pr-checklists/bad-pr-intro.md
  .github/pr-checklists/github-edit-top-comment-x.png
  .github/pr-checklists/irrelevant-commits.md
  .github/pr-checklists/irrelevant-files.md
  .github/pr-checklists/task-Frogger-dod.md
  .github/pr-checklists/task-TJSW-OOP-dod.md
  .github/pr-checklists/task-TJSW-dod.md
  .github/workflows/pr-labeled-checklist.yml
Labels: enhancement

#8 Sadoharu html css popup
  submissions/sadoharu/html-css-popup/index.html
  submissions/sadoharu/html-css-popup/style.css
Labels: task-PopUp

#26 Added my project code to 'homeworks' - HTML-CSS-Popup
  submissions/acerpo/index.html
  submissions/acerpo/style/style.css
Labels: task-PopUp

#27 Html css popup task
  submissions/the-darkesttt/popup/css/style.css
  submissions/the-darkesttt/popup/index.html
Labels: task-PopUp

#31 Building a Tiny JS World
  представления/Моренко/создание крошечного js-мира/index.js
Labels: task-TJSW
