Repository kottans/frontend-2022-homeworks, pull requests merged in 2022-08, with the labels that each got.

#20 DOM
  submissions/kovalov/dom/index.html
  submissions/kovalov/dom/scripts/createContentElement.js
  submissions/kovalov/dom/scripts/createElement.js
  submissions/kovalov/dom/scripts/createNavElement.js
  submissions/kovalov/dom/scripts/data.js
  submissions/kovalov/dom/scripts/initNavigation.js
  submissions/kovalov/dom/scripts/main.js
  submissions/kovalov/dom/scripts/pageElements.js
  submissions/kovalov/dom/styles.css
Labels: task-DOM

#38 Hooli-style Popup
  submissions/natalia-artsiukh/html-css-popup/index.html
  submissions/natalia-artsiukh/html-css-popup/style.css
Labels: task-PopUp

#40 taras-mavrovich-kottans: added Hooli_style_Popup
  submissions/DarkSoulH/Hooli-style Popup/index.html
  submissions/DarkSoulH/Hooli-style Popup/style.css
Labels: task-PopUp

#41 Js world
  submissions/pozzitive11/js-world/index.js
Labels: task-TJSW

#44 Add standard steps to PR template
  .github/pull_request_template.md
Labels: enhancement

#29 Vlad dom
  submissions/pozzitive11/vlad-js-dom/css/reset.css
  submissions/pozzitive11/vlad-js-dom/css/style.css
  submissions/pozzitive11/vlad-js-dom/index.html
  submissions/pozzitive11/vlad-js-dom/script.js
Labels: task-DOM

#49 html-css-popup
  submissions/dikun/html-css-popup/index.html
  submissions/dikun/html-css-popup/style.css
Labels: task-PopUp

#37 add files for html-css popup
  submissions/DmytryjK/HTML-CSS-Popup/index.html
  submissions/DmytryjK/HTML-CSS-Popup/sass/components/base.scss
  submissions/DmytryjK/HTML-CSS-Popup/sass/components/fonts.scss
  submissions/DmytryjK/HTML-CSS-Popup/sass/components/header.scss
  submissions/DmytryjK/HTML-CSS-Popup/sass/style.scss
  submissions/DmytryjK/HTML-CSS-Popup/sass/variables/variables.scss
Labels: task-PopUp

#48 html-css-popup
  submissions/KostiantynOkhorzin/html-css-popup/css/style.css
  submissions/KostiantynOkhorzin/html-css-popup/index.html
Labels: task-PopUp

#58 add Hooli-style-Popup
  submissions/ksalpern/Hooli-style-Popup/index.html
  submissions/ksalpern/Hooli-style-Popup/scss/style.scss
Labels: task-PopUp

#46 OOP (re-uploaded)
  submissions/kovalov/oop/index.js
Labels: task-TJSW-OOP, task-TJSW-OOP-dod

#71 A Tiny JS World
  submissions/OlStaniev/tiny-js/index.js
Labels: task-TJSW

#14 js-dom
  submissions/antonkottans/js-dom/index.html
  submissions/antonkottans/js-dom/script.js
  submissions/antonkottans/js-dom/style.css
Labels: task-DOM

#67 Frogger Game
  submissions/kovalov/frogger/app.js
Labels: task-Frogger, task-Frogger-dod

#65 HTML CSS Popup Practice
  submissions/dimonlakhin/html-css-popup/index.html
  submissions/dimonlakhin/html-css-popup/style.css
Labels: task-PopUp

#57 Js dom task
  submissions/the-darkesttt/js-dom/index.html
  submissions/the-darkesttt/js-dom/script.js
  submissions/the-darkesttt/js-dom/style.css
Labels: task-DOM

#51 Object Oriented JavaScript
  submissions/Eugene-CG/OOJS-Frogger-Game/app.js
Labels: task-Frogger

#76 Hooli style popup
  submissions/NadiaVorontsova/hooli-style-popup/index.html
  submissions/NadiaVorontsova/hooli-style-popup/style.css
Labels: task-PopUp

#60 Pop Up Task
  submissions/SofiiaTrokhymchuk/pop-up-task/css/style.css
  submissions/SofiiaTrokhymchuk/pop-up-task/index.html
Labels: task-PopUp

#64 HTML & CSS Practice
  submissions/zhenyakornilov/html-css-popup/index.html
  submissions/zhenyakornilov/html-css-popup/styles.css
Labels: task-PopUp

#34 Document Object Model
  submissions/Eugene-CG/DOM/index.html
  submissions/Eugene-CG/DOM/index.js
  submissions/Eugene-CG/DOM/style.css
Labels: task-DOM

#74 Html css popup
  submissions/IhorOzerov/html-css-popup/index.html
  submissions/IhorOzerov/html-css-popup/styles.css
Labels: task-PopUp

#43 Html & CSS Practice. Popup
  submissions/HelenGreent/task_html_css_popup/index.css
  submissions/HelenGreent/task_html_css_popup/index.html
Labels: task-PopUp

#66 HTML-CSS-Popup
  submissions/MarharytaBoichenko/html_css_popup/index.html
  submissions/MarharytaBoichenko/html_css_popup/sass/main.scss
  submissions/MarharytaBoichenko/html_css_popup/sass/normalize.scss
  submissions/MarharytaBoichenko/html_css_popup/sass/popUp.scss
  submissions/MarharytaBoichenko/html_css_popup/sass/variables.scss
Labels: task-PopUp

#62 DOM
  submissions/OlStaniev/DOM/css/style.scss
  submissions/OlStaniev/DOM/index.html
  submissions/OlStaniev/DOM/script/script.js
  submissions/OlStaniev/DOM/script/text-episode.js
Labels: task-DOM

#83 dom-js
  submissions/KostiantynOkhorzin/dom/css/style.css
  submissions/KostiantynOkhorzin/dom/index.html
  submissions/KostiantynOkhorzin/dom/script.js
Labels: task-DOM

#85 Add Hooli-popup-task homework
  submissions/LuckyDnepr/Hooli-popup-task/index.html
  submissions/LuckyDnepr/Hooli-popup-task/styles-menu.css
Labels: task-PopUp

#101 yhorodechna add task "HTML-CSS-Popup"
  submissions/yhorodechna/html-css-popup/css/null_style.css
  submissions/yhorodechna/html-css-popup/css/style.css
  submissions/yhorodechna/html-css-popup/index.html
Labels: task-PopUp

#107 Dom practice
  submissions/nataliaArtsiukh/DocumentObjectModel/index.html
  submissions/nataliaArtsiukh/DocumentObjectModel/script.js
  submissions/nataliaArtsiukh/DocumentObjectModel/style.css
Labels: task-DOM

#99 Hooli style popup
  submissions/trostinetska/hooli-style-popup/index.html
  submissions/trostinetska/hooli-style-popup/styles.css
Labels: task-PopUp

#90 Document Object Model task
  submissions/asaMitaka/dom/index.html
  submissions/asaMitaka/dom/script.js
  submissions/asaMitaka/dom/style.css
Labels: task-DOM

#75 popup project
  submissions/NatalyaBortsova/popup/css/style.scss
  submissions/NatalyaBortsova/popup/index.html
Labels: task-PopUp

#103 App Popup
  submissions/OlexiyDobroskok/app-Popup/index.html
  submissions/OlexiyDobroskok/app-Popup/reset.css
  submissions/OlexiyDobroskok/app-Popup/style.css
Labels: task-PopUp

#106 Html css popup
  submissions/ASTkach/popup/css/app.css
  submissions/ASTkach/popup/index.html
Labels: task-PopUp

#138 memory-pair-game
  submissions/Eugene-CG/memory-pair-game/index.html
  submissions/Eugene-CG/memory-pair-game/index.js
  submissions/Eugene-CG/memory-pair-game/style.css
Labels: task-MPG

#42 Memory pair game
  submissions/kovalov/memory-pair-game/index.html
  submissions/kovalov/memory-pair-game/main.js
  submissions/kovalov/memory-pair-game/styles.css
Labels: task-MPG

#69 Practice HTML/CSS - Hooli-style Popup
  submissions/semenjob/index.html
  submissions/semenjob/style.css
Labels: task-PopUp

#61 Hooli-style Popup
  submissions/pashapushak1996/html-css-popup/index.html
  submissions/pashapushak1996/html-css-popup/scss/_base.scss
  submissions/pashapushak1996/html-css-popup/scss/_layout.scss
  submissions/pashapushak1996/html-css-popup/scss/main.scss
Labels: task-PopUp

#36 a-tiny-JS-world
  submissions/Eugene-CG/a-tiny-JS-world/index.js
Labels: task-TJSW

#53 create frogger-game
  submissions/pozzitive11/frogger-game/app.js
Labels: task-Frogger

#55 Frogger-game
  submissions/DaniaB24/frogger-game/app.js
Labels: task-Frogger

#104 Tiny-JS-World
  submissions/the-darkesttt/a-tiny-JS-world/index.js
Labels: task-TJSW

#120 tiny-world
  submissions/KostiantynOkhorzin/tiny-world/index.js
Labels: task-TJSW

#114 Tiny-js-world
  submissions/DmytryjK/tiny-js-world/index.js
Labels: task-TJSW

#79 add hooli-style-popup homework
  submissions/bmukha/hooli-style-popup/index.html
  submissions/bmukha/hooli-style-popup/style.css
Labels: task-PopUp

#91 preoop task
  submissions/asaMitaka/Building a Tiny JS World (pre-OOP)/index.js
Labels: task-TJSW

#184 Tiny JS World (pre-OOP)
  submissions/zhenyakornilov/tiny-js-world/index.js
Labels: task-TJSW

#191 create tiny js world
  submissions/dikun/tiny-js-world/index.js
Labels: task-TJSW

#119 Frogger
  submissions/OlStaniev/frogger-game/app.js
Labels: task-Frogger, task-Frogger-dod

#70 add popup
  submissions/zadorogniyandrey/index.html
  submissions/zadorogniyandrey/scss/nullstyle.scss
  submissions/zadorogniyandrey/scss/style.scss
Labels: task-PopUp

#161 Tiny JS World
  submissions/nataliaArtsiukh/TinyJSWorld/index.js
Labels: task-TJSW

#97 Html css popup
  submissions/Oleksii_Drohachov/HTML_CSS_PopUp/index.html
  submissions/Oleksii_Drohachov/HTML_CSS_PopUp/style.css
Labels: task-PopUp

#197 a tiny js world completed
  submissions/kotlyar-andrey/a-tiny-JS-world/index.js
Labels: task-TJSW

#194 Tiny-world
  submissions/MarharytaBoichenko/tiny-world/index.js
Labels: task-TJSW

#35 tiny-js-world
  submissions/antonkottans/building-a-tiny-js-world/index.js
Labels: task-TJSW, 💤 Stale

#50 frogger
  submissions/antonkottans/frogger/app.js
Labels: task-Frogger

#96 create task js-dom
  submissions/semenjob/dom/README.md
  submissions/semenjob/dom/index.html
  submissions/semenjob/dom/script/index.js
  submissions/semenjob/dom/style/style.css
Labels: task-DOM

#94 Memory pair game
  submissions/asaMitaka/Memory pair game/index.html
  submissions/asaMitaka/Memory pair game/script.js
  submissions/asaMitaka/Memory pair game/style.css
Labels: task-MPG

#89 Hooli style popup
  submissions/asaMitaka/hooliStylePopup/index.html
  submissions/asaMitaka/hooliStylePopup/style.css
Labels: task-PopUp

#193 add tiny-js-world homework
  submissions/bmukha/tiny-js-world/index.js
Labels: task-TJSW

#136 HTML-CSS-Popup
  submissions/AriadnaKravchuk/html-css-popup/index.html
  submissions/AriadnaKravchuk/html-css-popup/style.css
Labels: task-PopUp

#125 HTML & CSS Practice
  submissions/serentinos/html-css-popup/index.html
  submissions/serentinos/html-css-popup/style.css
Labels: task-PopUp

#82 HTML-CSS-Popup
  submissions/Levi123/html-css-popup/index.html
  submissions/Levi123/html-css-popup/styles.css
Labels: task-PopUp

#110 popup
  представления/вован-зт/выскакивать/index.html
  представления/вован-зт/выскакивать/style.css
Labels: task-PopUp

#190 tiny js world
  submissions/SergeyShytikov/tiny-js-world-task/index.js
Labels: task-TJSW

#131 add task popup DmitryHniezdilov
  submissions/DmitryHniezdilov/task-html-css-popup/css/style.css
  submissions/DmitryHniezdilov/task-html-css-popup/index.html
Labels: task-PopUp

#77 Holi style popup
  submissions/Yasya23/holi-style-popup/index.html
  submissions/Yasya23/holi-style-popup/style.css
Labels: task-PopUp

#72 Hooli-style Popup
  submissions/JuliaNovak/html-css-popup/index.html
  submissions/JuliaNovak/html-css-popup/styles.css
Labels: task-PopUp

#13 Html & CSS Practice. Popup
  submissions/Eugene-CG/popup/index.html
  submissions/Eugene-CG/popup/style.css
Labels: task-PopUp

#86 Popup
  submissions/ZjeniiaSt/html-css-popup/index.html
  submissions/ZjeniiaSt/html-css-popup/styles.css
Labels: task-PopUp

#135 frogger task
  submissions/the-darkesttt/frogger-task/app.js
Labels: task-Frogger

#150 Building a Tiny JS World
  submissions/LuckyDnepr/a-tiny-js-world/index.js
Labels: task-TJSW

#105 task tiny js
  submissions/semenjob/tiny/index.html
  submissions/semenjob/tiny/tiny.js
Labels: task-TJSW

#213 A tiny js world by expero1
  submissions/expero1/a-tiny-js-world/index.js
Labels: task-TJSW

#63 create js-world-oop
  submissions/pozzitive11/js-world-oop/index.js
Labels: task-TJSW-OOP, task-TJSW-OOP-dod

#134 Friends App
  submissions/kovalov/friends-app/app.js
  submissions/kovalov/friends-app/index.html
  submissions/kovalov/friends-app/styles.css
Labels: task-Friends

#230 Add classes player and enemy in frogger
  submissions/MarharytaBoichenko/oop_frogger/app.js
Labels: task-Frogger

#165 Tiny JS World
  submissions/vovan-zt/Tiny_JS_World/index.js
Labels: task-TJSW

#132 add dom task
  submissions/dikun/js-dom/index.html
  submissions/dikun/js-dom/script.js
  submissions/dikun/js-dom/style.css
Labels: task-DOM

#128 memory pair game
  submissions/antonkottans/memory-pair-game/index.html
  submissions/antonkottans/memory-pair-game/script.js
  submissions/antonkottans/memory-pair-game/style.css
Labels: task-MPG

#143 Hooli style popup
  submissions/wwwowka/hooli-style-popup/index.html
  submissions/wwwowka/hooli-style-popup/styles.css
Labels: task-PopUp

#147 Popup task added
  submissions/vadiimvooo/html-css-popup/Html-Css-Popup-Task/index.html
  submissions/vadiimvooo/html-css-popup/Html-Css-Popup-Task/style.css
Labels: task-PopUp

#204 Frogger-game
  submissions/zhenyakornilov/frogger-game/app.js
Labels: task-Frogger

#140 HTML і CSS практика: Hooli-style Popup
  submissions/chernetskyi8704/Hooli-style Popup/index.html
  submissions/chernetskyi8704/Hooli-style Popup/style.css
Labels: task-PopUp

#102 HTML і CSS практика: Hooli-style Popup
  submissions/loki13btz/html-css-popup/index.html
  submissions/loki13btz/html-css-popup/style.css
Labels: task-PopUp

#217 JS OOP Frogger
  submissions/kotlyar-andrey/frogger-game/app.js
Labels: task-Frogger

#124 HTML & CSS Practice
  submissions/crealime/html-css-popup/css/main.css
  submissions/crealime/html-css-popup/css/reset.css
  submissions/crealime/html-css-popup/index.html
Labels: task-PopUp

#118 HTML-CSS-Popup — #done
  submissions/Oleksandr-Heleta/popup/index.html
  submissions/Oleksandr-Heleta/popup/style.css
Labels: task-PopUp

#116 Task "PopUp" — done
  submissions/Mifaresss/HTML-CSS-Popup/css/styles.css
  submissions/Mifaresss/HTML-CSS-Popup/index.html
Labels: task-PopUp

#257 Add tiny-js-word task
  submissions/yhorodechna/tiny-js-word/lib.js
Labels: task-TJSW

#220 A Tiny JS World
  submissions/SofiiaTrokhymchuk/tiny-js-world/index.js
Labels: task-TJSW

#224 character and enemies created
  submissions/nataliaArtsiukh/Frogger-game/app.js
Labels: task-Frogger

#238 OOP exercise - Tiny JS World
  submissions/zhenyakornilov/tiny-js-world/index.js
Labels: task-TJSW-OOP, task-TJSW-OOP-dod

#139 HTML-CSS-Popup Task
  submissions/EnF1NeeT/HTML-CSS_popup/index.html
  submissions/EnF1NeeT/HTML-CSS_popup/style.css
Labels: task-PopUp

#137 HTML-CSS-Popup homework by expero1
  submissions/expero1/html-css-popup/index.html
  submissions/expero1/html-css-popup/style.css
Labels: task-PopUp

#169 Html css popup task
  submissions/mimoauto/html-css-popup/index.html
  submissions/mimoauto/html-css-popup/style.css
Labels: task-PopUp

#158 frogger-game
  submissions/KostiantynOkhorzin/frogger-game/app.js
Labels: task-Frogger

#133 Frogger Game JS OOP
  submissions/DmytryjK/task_js_oop/js/app.js
Labels: task-Frogger, task-Frogger-dod

#115 HTML-CSS-Popup
  submissions/natayakovleva/HTML-CSS-popup/index.html
  submissions/natayakovleva/HTML-CSS-popup/style.css
Labels: task-PopUp

#229 wrong merging path
  submissions/vovan-zt/popup2022/index.html
  submissions/vovan-zt/popup2022/style.css
Labels: partial submission

#208 tiny-js-world
  submissions/Vlada-khom/tiny-js-world/index.js
Labels: task-TJSW

#47 Hooli-style Popup
  submissions/Vlada-khom/html-css-popup/index.html
  submissions/Vlada-khom/html-css-popup/styles.scss
Labels: task-PopUp

#108 Pop-up project (Hooli styled) by Ivan Chukhalo
  submissions/ivan-chukhalo/pop-up_hooli/css/style.css
  submissions/ivan-chukhalo/pop-up_hooli/index.html
Labels: task-PopUp

#151 Popup api task
  submissions/Conversee12/HTML&CSS Popup/index.html
  submissions/Conversee12/HTML&CSS Popup/style.css
Labels: task-PopUp

#88 JS object model
  submissions/DmytryjK/task_js_dom/index.html
  submissions/DmytryjK/task_js_dom/js/script.js
  submissions/DmytryjK/task_js_dom/sass/adaptive/adaptive-navigation.scss
  submissions/DmytryjK/task_js_dom/sass/adaptive/media.scss
  submissions/DmytryjK/task_js_dom/sass/components/base.scss
  submissions/DmytryjK/task_js_dom/sass/components/content.scss
  submissions/DmytryjK/task_js_dom/sass/components/header.scss
  submissions/DmytryjK/task_js_dom/sass/components/main.scss
  submissions/DmytryjK/task_js_dom/sass/style.scss
  submissions/DmytryjK/task_js_dom/sass/variables/variables.scss
Labels: task-DOM

#154 Add dom-task
  submissions/HelenGreent/js-dom/index.css
  submissions/HelenGreent/js-dom/index.html
  submissions/HelenGreent/js-dom/index.js
Labels: task-DOM

#145 js-dom homework by LuckyDnepr
  submissions/LuckyDnepr/js-dom/aside-menu-action.js
  submissions/LuckyDnepr/js-dom/data-films.json
  submissions/LuckyDnepr/js-dom/index.html
  submissions/LuckyDnepr/js-dom/main-script.js
  submissions/LuckyDnepr/js-dom/style.css
Labels: task-DOM

#127 add file for hoolie-popup task
  submissions/maksimsergeev97/hoolie-style-popup/index.html
  submissions/maksimsergeev97/hoolie-style-popup/style.css
Labels: task-PopUp

#129 HTML-CSS-Popup
  submissions/MosQuitO404/HTML-CSS-Popup/index.html
  submissions/MosQuitO404/HTML-CSS-Popup/style.css
Labels: task-PopUp

#225 Implement dom task
  submissions/NadiaVorontsova/dom-api-task/index.html
  submissions/NadiaVorontsova/dom-api-task/script.js
  submissions/NadiaVorontsova/dom-api-task/style.css
Labels: task-DOM

#164 vovan-DOM
  submissions/vovan-zt/DOM/index.html
  submissions/vovan-zt/DOM/script.js
  submissions/vovan-zt/DOM/style.scss
Labels: task-DOM

#277 Tiny JS World
  submissions/VolodymyrRutskyi/tiny-js-world/index.js
Labels: task-TJSW

#248 a-tiny-js-world
  submissions/Oleksandr-Heleta/a-tiny-js-world/index.js
Labels: task-TJSW

#288 A Tiny JS World
  submissions/yanyshpolska/tiny-world/index.js
Labels: task-TJSW

#163 DOM homework
  submissions/bmukha/dom/app.js
  submissions/bmukha/dom/index.html
  submissions/bmukha/dom/style.css
Labels: task-DOM

#205 Html css popup
  submissions/Maksym-Perepelytsia/html-css-popup/index.html
  submissions/Maksym-Perepelytsia/html-css-popup/style.css
Labels: task-PopUp

#258 New index.js for tiny js task
  submissions/Levi123/tiny-JS/index.js
Labels: task-TJSW

#203 Add html-css-popup
  submissions/misshatsker/html-css-popup/index.css
  submissions/misshatsker/html-css-popup/index.html
Labels: task-PopUp

#259 Tiny js world
  submissions/Oleksii_Drohachov/Tiny_JS_world/index.js
Labels: task-TJSW

#245 DOM_task
  submissions/Oleksandr-Heleta/task_js_dom/index.html
  submissions/Oleksandr-Heleta/task_js_dom/script.js
  submissions/Oleksandr-Heleta/task_js_dom/style.css
Labels: task-DOM

#156 adding html-css-popup task
  submissions/YarHadi/html-css-popup/css/styles.css
  submissions/YarHadi/html-css-popup/index.html
Labels: task-PopUp

#287 Frogger Game
  submissions/crealime/frogger-game/js/app.js
  submissions/crealime/frogger-game/js/engine.js
Labels: task-Frogger

#236 oop-exercise
  submissions/KostiantynOkhorzin/oop-exercise/index.js
Labels: task-TJSW-OOP

#126 oop exercise
  submissions/OlStaniev/OOP exercise/index.js
Labels: task-TJSW-OOP, task-TJSW-OOP-dod

#286 add frogger game
  submissions/dikun/frogger-game/app.js
Labels: task-Frogger

#290 Object Oriented JS - ready for review
  submissions/LuckyDnepr/task-js-oop/app.js
Labels: task-Frogger

#254 OOP exercise pre-done
  submissions/LuckyDnepr/OOP-Exercise/index.js
Labels: task-TJSW-OOP

#219 js oop exercise tiny world
  submissions/DmytryjK/js-oop-exercise-tiny/index.js
Labels: task-TJSW-OOP

#283 Document Object Model
  submissions/yanyshpolska/dom/css/style.css
  submissions/yanyshpolska/dom/index.html
  submissions/yanyshpolska/dom/js/script.js
Labels: task-DOM

#247 html-css-popup
  submissions/hisbvdis/html-css-popup/css/globals.css
  submissions/hisbvdis/html-css-popup/css/nav.css
  submissions/hisbvdis/html-css-popup/css/popup.css
  submissions/hisbvdis/html-css-popup/css/popupSwitcher.css
  submissions/hisbvdis/html-css-popup/css/reset.css
  submissions/hisbvdis/html-css-popup/index.html
  submissions/hisbvdis/html-css-popup/style.css
Labels: task-PopUp

#237 Task Js DOM
  submissions/OlexiyDobroskok/task_js_dom/index.html
  submissions/OlexiyDobroskok/task_js_dom/reset.css
  submissions/OlexiyDobroskok/task_js_dom/script.js
  submissions/OlexiyDobroskok/task_js_dom/style.css
Labels: task-DOM

#223 Added files with a popup for review
  submissions/Anatolii-Petrenko/html-css-popup/css/style.css
  submissions/Anatolii-Petrenko/html-css-popup/index.html
Labels: task-PopUp

#267 HTML CSS Popup
  submissions/nvklap/popup/css/style.css
  submissions/nvklap/popup/index.html
Labels: task-PopUp

#293 added popup created by Tetiana D.
  submissions/TetianaDiachenko/popup_td/index.html
  submissions/TetianaDiachenko/popup_td/style.css
Labels: task-PopUp

#246 hooli-style-popup
  submissions/Kostiantyn_Rakhmanov/hooli-style-popup/index.html
  submissions/Kostiantyn_Rakhmanov/hooli-style-popup/styles.css
Labels: task-PopUp

#196 html-css-popup commit
  submissions/vasylpaliy/html_css_popup/index.html
  submissions/vasylpaliy/html_css_popup/style.css
Labels: task-PopUp

#251 hooli-style-popup
  submissions/annymax/hooli-style-popup/index.html
  submissions/annymax/hooli-style-popup/style.css
Labels: task-PopUp

#242 HTML-CSS-Popup task
  submissions/Dovahkiin1991/html-css-popup/css/styles.css
  submissions/Dovahkiin1991/html-css-popup/index.html
Labels: task-PopUp

#285 added pop-up task by Yuliia Dyka
  submissions/YuliiaDyka/pop-up/index.html
  submissions/YuliiaDyka/pop-up/style.css
Labels: task-PopUp

#93 OOP exercise
  submissions/asaMitaka/OOP/indexClass.js
Labels: task-TJSW-OOP, task-TJSW-OOP-dod

#148 DOM menu
  submissions/MarharytaBoichenko/dom_menu/index.html
  submissions/MarharytaBoichenko/dom_menu/index.js
  submissions/MarharytaBoichenko/dom_menu/sass/main.scss
  submissions/MarharytaBoichenko/dom_menu/sass/menu.scss
  submissions/MarharytaBoichenko/dom_menu/sass/normalize.scss
  submissions/MarharytaBoichenko/dom_menu/sass/variables.scss
Labels: task-DOM

#152 HTML-CSS-practice-popup_task
  submissions/Halv27/html-css-popup-task/index.html
  submissions/Halv27/html-css-popup-task/style.css
Labels: task-PopUp

#234 memory-game
  submissions/OlStaniev/memory-pair-game/app.js
  submissions/OlStaniev/memory-pair-game/index.html
  submissions/OlStaniev/memory-pair-game/style.css
Labels: task-MPG

#321 Add files from task HTML&CSS Practice
  submissions/develabr/hooli-style-popup/app.css
  submissions/develabr/hooli-style-popup/index.html
Labels: task-PopUp

#231 Html css popup
  submissions/vl-shevchenko/html-css-popup/index.html
  submissions/vl-shevchenko/html-css-popup/style.css
Labels: task-PopUp

#249 html-css-popup-task
  submissions/iva-stasia/html-css-popup/index.html
  submissions/iva-stasia/html-css-popup/styles.css
Labels: task-PopUp

#303 html-css-popup
  submissions/AaLin-Git/html-css-popup/index.html
  submissions/AaLin-Git/html-css-popup/style.css
Labels: task-PopUp

#192 finish project
  submissions/supert111/html-css-popup/index.html
  submissions/supert111/html-css-popup/style.css
Labels: task-PopUp

#202 Html css popup
  submissions/anishchenko/html-css-popup/css/style.css
  submissions/anishchenko/html-css-popup/index.html
Labels: task-PopUp

#206 Html css popup
  submissions/Serge044/HTML-CSS-Popup/index.html
  submissions/Serge044/HTML-CSS-Popup/style.css
Labels: task-PopUp
