Repository kottans/frontend-2022-homeworks, pull requests merged in 2022-09, with the labels that each got.

#334 Dom task
  submissions/AriadnaKravchuk/dom/index.html
  submissions/AriadnaKravchuk/dom/script.js
  submissions/AriadnaKravchuk/dom/style.css
Labels: task-DOM

#111 Hooli-style Popup
  submissions/denismaysov/html-css-popup/index.html
  submissions/denismaysov/html-css-popup/style.css
Labels: task-PopUp

#304 Add files for popup task
  submissions/AnzhelikaKh/popup_task/index.html
  submissions/AnzhelikaKh/popup_task/style.css
Labels: task-PopUp

#292 add index.html style.css
  submissions/OlgaBarnikova/Popup/index.html
  submissions/OlgaBarnikova/Popup/style.css
Labels: task-PopUp

#281 Pop-up task
  submissions/Semka094/hooli-style-popup/index.html
  submissions/Semka094/hooli-style-popup/style.css
Labels: task-PopUp

#298 Finished task html and css popup
  submissions/AndriiBabushko/html-css_popup/index.html
  submissions/AndriiBabushko/html-css_popup/styles/sass/animations.sass
  submissions/AndriiBabushko/html-css_popup/styles/sass/colors.sass
  submissions/AndriiBabushko/html-css_popup/styles/sass/fonts.sass
  submissions/AndriiBabushko/html-css_popup/styles/sass/style.sass
Labels: task-PopUp

#308 popup
  submissions/Westerinoo/HTML-CSS-popup/index.html
  submissions/Westerinoo/HTML-CSS-popup/style.css
Labels: task-PopUp

#270 Document Object Model
  submissions/crealime/dom-api/css/main.css
  submissions/crealime/dom-api/css/reset.css
  submissions/crealime/dom-api/index.html
  submissions/crealime/dom-api/js/main.js
  submissions/crealime/dom-api/json/movies.json
Labels: task-DOM

#309 Added files
  submissions/chernetskyi8704/Interactive Side-menu/index.html
  submissions/chernetskyi8704/Interactive Side-menu/script.js
  submissions/chernetskyi8704/Interactive Side-menu/style.css
Labels: task-DOM

#366 Dom
  submissions/YarHadi/task_js_dom/form.js
  submissions/YarHadi/task_js_dom/index.html
  submissions/YarHadi/task_js_dom/reset.css
  submissions/YarHadi/task_js_dom/styles.css
Labels: task-DOM

#146 added hooli-popup task
  submissions/VolodymyrRutskyi/Hooli-style-Popup/index.html
  submissions/VolodymyrRutskyi/Hooli-style-Popup/styles.css
Labels: task-PopUp

#144 popup-task
  submissions/MariiaArtamonova/html-css-popup-task/index.html
  submissions/MariiaArtamonova/html-css-popup-task/style.css
Labels: task-PopUp

#240 Tiny js world
  submissions/HelenGreent/tiny-js-world/index.js
Labels: task-TJSW

#279 Document Object Model
  submissions/pashapushak1996/js-dom/index.html
  submissions/pashapushak1996/js-dom/index.js
  submissions/pashapushak1996/js-dom/main.css
Labels: task-DOM

#170 completed pop-up-task
  submissions/sofiichuk/pop-up-task/index.html
  submissions/sofiichuk/pop-up-task/style.css
Labels: task-PopUp, self-check-done

#159 Document Object Model - practice
  submissions/zhenyakornilov/js-dom/css/styles.css
  submissions/zhenyakornilov/js-dom/index.html
  submissions/zhenyakornilov/js-dom/js/data.js
  submissions/zhenyakornilov/js-dom/js/index.js
  submissions/zhenyakornilov/js-dom/js/utils.js
Labels: task-DOM

#328 Add files via upload
  submissions/julia-online/task_html-css-popup/index.html
  submissions/julia-online/task_html-css-popup/style.css
Labels: task-PopUp

#92 Frogger js core code
  submissions/asaMitaka/frogger/app.js
Labels: task-Frogger, task-Frogger-dod

#302 Addede folder with js-dom practice
  submissions/ASTkach/js-dom/css/app.css
  submissions/ASTkach/js-dom/index.html
  submissions/ASTkach/js-dom/js/script.js
Labels: task-DOM

#370 Complete task DOM API
  submissions/develabr/dom-js/app.css
  submissions/develabr/dom-js/app.js
  submissions/develabr/dom-js/cities.js
  submissions/develabr/dom-js/index.html
Labels: task-DOM

#316 Tiny JS World
  submissions/YarHadi/a-tiny-JS-world/index.js
Labels: task-TJSW

#391 A tiny-js-world
  submissions/IhorOzerov/a-tiny-JS-world/index.js
Labels: task-TJSW

#434 A Tiny JS World
  submissions/nvklap/tiny/index.js
Labels: task-TJSW

#314 Frogger Game
  submissions/SofiiaTrokhymchuk/frogger-game/app.js
Labels: task-Frogger

#306 task_js_oop
  submissions/Oleksandr-Heleta/task_js_oop/app.js
Labels: task-Frogger

#232 add frogger
  submissions/bmukha/frogger/app.js
Labels: task-Frogger

#330 add frogger task
  submissions/pashapushak1996/frogger-game/app.js
Labels: task-Frogger

#369 Frogger game
  submissions/Yasya23/frogger-game/app.js
Labels: task-Frogger

#317 Tiny JS World
  submissions/hisbvdis/tiny-js-world/index.js
Labels: task-TJSW

#468 A Tiny JS World
  submissions/MosQuitO404/a-tiny-js-world/index.js
Labels: task-TJSW

#195 MPG-task
  submissions/the-darkesttt/memory-pair-game/css/style.css
  submissions/the-darkesttt/memory-pair-game/index.html
  submissions/the-darkesttt/memory-pair-game/js/newApp.js
Labels: task-MPG

#449 A tiny js world
  submissions/vl-shevchenko/js-world/index.js
Labels: task-TJSW

#357 a-tiny-js-world-OOP
  submissions/NadiaVorontsova/a-tiny-JS-world-OOP/index.js
Labels: task-TJSW-OOP

#329 Classic frogger game
  submissions/NadiaVorontsova/classic-frogger-game/app.js
Labels: task-Frogger

#402 A Tiny JS World task
  submissions/franchukv/a-tiny-js-world/index.js
Labels: task-TJSW

#305 Multi popup
  submissions/denismaysov/multiPopup/css/style.css
  submissions/denismaysov/multiPopup/index.html
Labels: task-PopUp

#198 HTML_CSS from Oleg Popovych
  submissions/OlegPopovych/html_css_popup/css/main.css
  submissions/OlegPopovych/html_css_popup/index.html
Labels: task-PopUp

#371 add js-dom project
  submissions/JuliaNovak/js-dom/index.html
  submissions/JuliaNovak/js-dom/script.js
  submissions/JuliaNovak/js-dom/styles.css
Labels: task-DOM

#443 A tiny JS world
  submissions/unabyband/tiny-js-world/index.js
Labels: task-TJSW

#95 Friends app
  submissions/asaMitaka/FriendsApp/index.html
  submissions/asaMitaka/FriendsApp/script.js
  submissions/asaMitaka/FriendsApp/style.css
Labels: task-Friends

#346 Tini Js World
  submissions/martthaa/tini-JS-world/index.js
Labels: task-TJSW

#201 Create popup
  submissions/kirill8210/popup-task/index.html
  submissions/kirill8210/popup-task/main.css
Labels: task-PopUp

#228 memory-game
  submissions/KostiantynOkhorzin/memory-game/css/style.css
  submissions/KostiantynOkhorzin/memory-game/index.html
  submissions/KostiantynOkhorzin/memory-game/script.js
Labels: task-MPG

#112 Oop exercise
  submissions/Eugene-CG/OOP-exercise/index.js
Labels: task-TJSW-OOP, task-TJSW-OOP-dod

#408 js-dom task
  submissions/AndriyM/js-dom/css/null.css
  submissions/AndriyM/js-dom/css/style.css
  submissions/AndriyM/js-dom/data.js
  submissions/AndriyM/js-dom/index.html
  submissions/AndriyM/js-dom/index.js
Labels: task-DOM

#235 DOM_task
  submissions/Oleksii_Drohachov/DOM_task/index.html
  submissions/Oleksii_Drohachov/DOM_task/script.js
  submissions/Oleksii_Drohachov/DOM_task/style.css
Labels: task-DOM

#141 uploaded files from JS DOM task
  submissions/SergeyShytikov/js-dom/app.js
  submissions/SergeyShytikov/js-dom/index.html
  submissions/SergeyShytikov/js-dom/style.css
Labels: task-DOM

#348 FroggerGame task
  submissions/OlexiyDobroskok/ClassikFroggerGame/app.js
Labels: task-Frogger

#446 tiny-JS-world
  submissions/AndriyM/a-tiny-JS-world/index.js
Labels: task-TJSW

#472 create js-world
  submissions/kirill8210/index.js
Labels: task-TJSW

#381 Add Tiny JS World task
  submissions/AriadnaKravchuk/tiny-js-world/index.js
Labels: task-TJSW

#372 add task_js_dom
  submissions/drewzag/task_js_dom/data.json
  submissions/drewzag/task_js_dom/index.html
  submissions/drewzag/task_js_dom/index.js
  submissions/drewzag/task_js_dom/styles.css
Labels: task-DOM

#207 app_friends
  submissions/vovan-zt/app_friends/index.html
  submissions/vovan-zt/app_friends/script.js
  submissions/vovan-zt/app_friends/style.scss
Labels: task-Friends

#388 DOM task
  submissions/franchukv/dom-api/index.html
  submissions/franchukv/dom-api/script.js
  submissions/franchukv/dom-api/style.css
Labels: task-DOM, self-check-done

#313 Task js dom
  submissions/DmitryHniezdilov/task-js-dom/css/scss/style.scss
  submissions/DmitryHniezdilov/task-js-dom/index.html
  submissions/DmitryHniezdilov/task-js-dom/js/data.js
  submissions/DmitryHniezdilov/task-js-dom/js/main.js
Labels: task-DOM

#295 js-dom
  submissions/Yasya23/js-dom/index.html
  submissions/Yasya23/js-dom/script.js
  submissions/Yasya23/js-dom/style.css
Labels: task-DOM

#377 Dom task
  submissions/kirill8210/dom-task/css/main.css
  submissions/kirill8210/dom-task/index.html
  submissions/kirill8210/dom-task/js/index.js
  submissions/kirill8210/dom-task/js/json.js
  submissions/kirill8210/dom-task/js/mobile.js
Labels: task-DOM

#356 Task js DOM
  submissions/loki13btz/dom-api-task/index.html
  submissions/loki13btz/dom-api-task/script.js
  submissions/loki13btz/dom-api-task/style.css
Labels: task-DOM

#331 dom-api-task
  submissions/IhorOzerov/dom-api-task/JS.js
  submissions/IhorOzerov/dom-api-task/index.html
  submissions/IhorOzerov/dom-api-task/style.css
Labels: task-DOM

#216 Hooli style popup
  submissions/nilamop/popup/css.css
  submissions/nilamop/popup/index.html
Labels: task-PopUp

#477 a-tiny-js-world
  submissions/Conversee12/Tiny JS World/index.js
Labels: task-TJSW

#433 Add tiny-js-world task
  submissions/misshatsker/tiny-js-world/index.js
Labels: task-TJSW

#376 a tiny js world
  submissions/drewzag/a-tiny-js-world/index.js
Labels: task-TJSW

#389 Dom task
  submissions/nvklap/dom/css/style.css
  submissions/nvklap/dom/index.html
  submissions/nvklap/dom/js/app.js
Labels: task-DOM

#253 HTML and CSS Popup
  submissions/MishaDerkach/html-css-popup/index.html
  submissions/MishaDerkach/html-css-popup/style.css
Labels: task-PopUp

#475 My PR with Tiny Js World
  submissions/Nik3264/Building-a-Tiny-JS-World/index.js
Labels: task-TJSW

#351 Task "Js pre oop"
  submissions/DmitryHniezdilov/task-a-tiny-JS-world/index.js
Labels: task-TJSW

#403 dom js done
  submissions/andysmokk/dom-js/index.html
  submissions/andysmokk/dom-js/js/script.js
  submissions/andysmokk/dom-js/sass/base/_common.scss
  submissions/andysmokk/dom-js/sass/base/_container.scss
  submissions/andysmokk/dom-js/sass/base/_reset.scss
  submissions/andysmokk/dom-js/sass/layouts/_footer.scss
  submissions/andysmokk/dom-js/sass/layouts/_header.scss
  submissions/andysmokk/dom-js/sass/layouts/_main.scss
  submissions/andysmokk/dom-js/sass/styles.scss
  submissions/andysmokk/dom-js/sass/variables/_variables.scss
Labels: task-DOM

#380 Create popup
  submissions/l1storez/popup/index.html
  submissions/l1storez/popup/style.css
Labels: task-PopUp, self-check-done

#392 Add DOM homework
  submissions/misshatsker/document-object-model/index.css
  submissions/misshatsker/document-object-model/index.html
  submissions/misshatsker/document-object-model/index.js
Labels: task-DOM

#390 a-tiny-js-world
  submissions/kuslosolodka/a-tiny-js-world/index.js
Labels: task-TJSW

#451 completed first approach
  submissions/sofiichuk/a-tiny-js-world/index.js
Labels: task-TJSW

#501 tiny-JS-world task by VikTorNik for review
  submissions/VikTorNik/tiny-JS-world/index.js
Labels: task-TJSW

#506 A Tiny JS World
  submissions/another96/a-tiny-js-world/index.js
Labels: task-TJSW

#244 Added DOM task
  submissions/yhorodechna/side-menu-dom/index.html
  submissions/yhorodechna/side-menu-dom/js/data.js
  submissions/yhorodechna/side-menu-dom/js/script.js
  submissions/yhorodechna/side-menu-dom/style.css
Labels: task-DOM

#400 My PR width DOM-api
  submissions/Nik3264/js-dom/index.html
  submissions/Nik3264/js-dom/index.js
  submissions/Nik3264/js-dom/style.css
Labels: task-DOM

#312 DOM
  submissions/hisbvdis/dom/css/base/globals.css
  submissions/hisbvdis/dom/css/blocks/planetsList.css
  submissions/hisbvdis/dom/css/layout/header.css
  submissions/hisbvdis/dom/css/layout/main.css
  submissions/hisbvdis/dom/css/layout/nav.css
  submissions/hisbvdis/dom/css/layout/page.css
  submissions/hisbvdis/dom/css/style.css
  submissions/hisbvdis/dom/index.html
  submissions/hisbvdis/dom/js/data.js
  submissions/hisbvdis/dom/js/script.js
Labels: task-DOM

#382 Html css popup
  submissions/d-pozniak/html-css-popup/index.html
  submissions/d-pozniak/html-css-popup/styles.css
Labels: task-PopUp, self-check-done

#383 Popup task completed
  submissions/marynatovtyn/hooli-style-popup/index.html
  submissions/marynatovtyn/hooli-style-popup/style.css
Labels: task-PopUp, self-check-done

#394 HTML and CSS Practice
  submissions/AnthonyShostak/Hooli-popup-task/css/style.css
  submissions/AnthonyShostak/Hooli-popup-task/index.html
Labels: task-PopUp

#483 A Tiny JS World
  submissions/iva-stasia/tiny-js-world/index.js
Labels: task-TJSW

#166 Frogger Game
  submissions/vovan-zt/Frogger-Game/app.js
Labels: task-Frogger, task-Frogger-dod

#322 tiny-js-world
  submissions/Yasya23/tiny-js-world/index.js
Labels: task-TJSW

#615 tiny-js-world task
  submissions/Anatolii-Petrenko/tiny-js-world/index.js
Labels: task-TJSW, self-check-done

#597 A Tiny JS World
  submissions/DeamonFire/A-Tiny-JS-World/index.js
Labels: task-TJSW, self-check-done

#271 Task a Tiny JS World
  submissions/OlexiyDobroskok/task_aTinyJsWorld/index.js
Labels: task-TJSW

#592 Building a Tiny JS World
  submissions/Dovahkiin1991/a-tiny-JS-world/index.js
Labels: task-TJSW, self-check-done

#324 Add frogger-OOP task
  submissions/yhorodechna/frogger-oop/app.js
Labels: task-Frogger, self-check-done

#410 Task DOM practice (side menu) — done
  submissions/Mifaresss/js_dom/index.html
  submissions/Mifaresss/js_dom/script.js
  submissions/Mifaresss/js_dom/styles.css
Labels: task-DOM

#386 dom
  submissions/YuraZagor/dom tsk/data.js
  submissions/YuraZagor/dom tsk/index.html
  submissions/YuraZagor/dom tsk/index.js
  submissions/YuraZagor/dom tsk/style.css
Labels: task-DOM

#396 add files
  submissions/VasylRosokha/Popup/css/style.css
  submissions/VasylRosokha/Popup/index.html
Labels: task-PopUp, self-check-done

#345 add OOP exercise
  submissions/dikun/OOP-exercise/index.js
Labels: task-TJSW-OOP, self-check-done

#117 Anton tjsw post oop
  submissions/antonkottans/tjsw-post-oop/index.js
Labels: task-TJSW-OOP, task-TJSW-OOP-dod

#335 Object Oriented JS
  submissions/hisbvdis/task_js_oop/app.js
Labels: task-Frogger

#374 OOP exercise
  submissions/yanyshpolska/OOP-exercise/index.js
Labels: task-TJSW-OOP, self-check-done

#479 Frogger
  submissions/IhorOzerov/frogger/app.js
Labels: task-Frogger, self-check-done

#498 Frogger Game
  submissions/nvklap/frogger/app.js
Labels: task-Frogger, self-check-done

#341 DOM task
  submissions/EnF1NeeT/DOM-task/index.html
  submissions/EnF1NeeT/DOM-task/script.js
  submissions/EnF1NeeT/DOM-task/style.css
Labels: task-DOM

#495 TJSW pre-oop task
  submissions/JuliaNovak/TJSW-pre-oop/index.js
Labels: task-TJSW

#415 Task js dom
  submissions/unabyband/task-js-dom/index.html
  submissions/unabyband/task-js-dom/main.css
  submissions/unabyband/task-js-dom/script.js
Labels: task-DOM

#414 A tiny JS world task
  submissions/develabr/js-pre-oop/index.js
Labels: task-TJSW

#442 DOM-api-task
  submissions/Conversee12/DOM/index.html
  submissions/Conversee12/DOM/script.js
  submissions/Conversee12/DOM/style.css
Labels: task-DOM

#460 Dom
  submissions/Kostiantyn_Rakhmanov/dom/index.html
  submissions/Kostiantyn_Rakhmanov/dom/main.js
  submissions/Kostiantyn_Rakhmanov/dom/styles.css
Labels: task-DOM

#627 js-pre-oop
  submissions/merowing/js-pre-oop/index.js
Labels: task-TJSW

#448 a-tiny-JS-world done
  submissions/andysmokk/a-tiny-js-world/index.js
Labels: task-TJSW

#299 Frogger task
  submissions/Oleksii_Drohachov/Frogger_task/app.js
Labels: task-Frogger, UAT-done

#484 Complete Frogger Game
  submissions/develabr/frogger/app.js
Labels: task-Frogger, self-check-done

#289 Arcade game
  submissions/Levi123/arcade-game/app.js
Labels: task-Frogger

#467 Object Oriented JS
  submissions/unabyband/OO-JS/app.js
Labels: task-Frogger, self-check-done

#522 Add frogger game task
  submissions/AriadnaKravchuk/frogger-game/app.js
Labels: task-Frogger, self-check-done

#456 Task js_oop (Frogger game)
  submissions/Mifaresss/task_js_oop/app.js
Labels: task-Frogger, self-check-done

#544 tiny-js-world
  submissions/Semka094/tiny-js-world/index.js
Labels: task-TJSW

#537 JS DOM task
  submissions/wwwowka/task_js_dom/index.html
  submissions/wwwowka/task_js_dom/script.js
  submissions/wwwowka/task_js_dom/styles.css
Labels: task-DOM

#470 js-dom task
  submissions/iva-stasia/js-dom/css/slyle.css
  submissions/iva-stasia/js-dom/index.html
  submissions/iva-stasia/js-dom/js/script.js
Labels: task-DOM

#499 Task "Task js oop"
  submissions/DmitryHniezdilov/task_js_oop/app.js
  submissions/DmitryHniezdilov/task_js_oop/style.css
Labels: task-Frogger, self-check-done

#436 Oop classes
  submissions/MarharytaBoichenko/oop/index.js
Labels: task-TJSW-OOP, self-check-done

#512 task_js_oop ( frogger)
  submissions/AndriyM/task_js_oop/app.js
Labels: task-Frogger, self-check-done

#416 Oop exercise
  submissions/OlexiyDobroskok/OOP_exercise/index.js
Labels: task-TJSW-OOP, self-check-done

#378 tiny js world oop
  submissions/bmukha/tiny-js-world-oop/index.js
Labels: task-TJSW-OOP, self-check-done

#529 Added app.js file to review. Frogger OOP task.
  submissions/chernetskyi8704/Frogger/app.js
Labels: task-Frogger, OQ

#491 Add object-oriented-js task
  submissions/misshatsker/object-oriented-js/app.js
Labels: task-Frogger, self-check-done

#398 Improve tiny JS world
  submissions/yhorodechna/tiny-js-word/lib.js
Labels: task-TJSW-OOP, self-check-done

#350 add oop-exercise
  submissions/pashapushak1996/oop-exercise/index.js
Labels: task-TJSW-OOP, self-check-done

#521 The game works. Added account display
  submissions/VikTorNik/froggen-oojs/app.js
Labels: task-Frogger, self-check-done

#385 Added index.js file to rewiev
  submissions/chernetskyi8704/Tiny JS World/index.js
Labels: task-TJSW-OOP, self-check-done

#543 Frogger game task
  submissions/iva-stasia/frogger-game/app.js
Labels: task-Frogger, UAT-done, self-check-done

#524 Complete OOP Exercise
  submissions/develabr/oop/index.js
Labels: task-TJSW-OOP, self-check-done

#618 tiny world pre-OOP
  submissions/YuraZagor/tiny world pre-oop/index.js
Labels: task-TJSW, self-check-done

#340 create friends-app
  submissions/pozzitive11/friends-app/index.html
  submissions/pozzitive11/friends-app/script.js
  submissions/pozzitive11/friends-app/style.css
Labels: task-Friends

#577 OOP exercise (refactoring TJSW)
  submissions/MosQuitO404/oop-exercise/index.js
Labels: task-TJSW-OOP, self-check-done

#349 oop-exercise
  submissions/hisbvdis/oop-exercise/index.js
Labels: task-TJSW-OOP

#569 OOP Tiny-JS-World
  submissions/Conversee12/OOP Tiny-Js-World/index.js
Labels: task-TJSW-OOP, self-check-done

#463 Frogger-game js file by Yuliiadd
  submissions/YuliiaDyka/frogger-game/app.js
Labels: task-Frogger, self-check-done

#439 tiny-js-oop
  submissions/Yasya23/tiny-js-oop/index.js
Labels: task-TJSW-OOP, self-check-done

#214 friends-app
  submissions/antonkottans/friends-app/index.html
  submissions/antonkottans/friends-app/sass/components.scss
  submissions/antonkottans/friends-app/sass/layout.scss
  submissions/antonkottans/friends-app/sass/main.scss
  submissions/antonkottans/friends-app/script.js
Labels: task-Friends

#466 complete frogger-game
  submissions/drewzag/frogger-game/app.js
Labels: task-Frogger

#393 First version memory pair game
  submissions/Levi123/memory-pair-game/index.html
  submissions/Levi123/memory-pair-game/script.js
  submissions/Levi123/memory-pair-game/style.css
Labels: task-MPG

#336 OOP exercise
  submissions/SofiiaTrokhymchuk/tiny-js-oop/index.js
Labels: task-TJSW-OOP, self-check-done

#532 Frogger-api-task
  submissions/Conversee12/Frogger-api-task/app.js
Labels: task-Frogger, self-check-done

#353 Oop exercise
  submissions/Oleksii_Drohachov/OOP-exercise/index.js
Labels: task-TJSW-OOP

#605 js-oop
  submissions/merowing/js-oop/app.js
Labels: task-Frogger, self-check-done

#623 tiny JS world OOP exersise
  submissions/SergeyShytikov/js-world-oop/index.js
Labels: task-TJSW-OOP, self-check-done

#508 OOP Exercise
  submissions/vovan-zt/TiniWorld2/index.js
Labels: task-TJSW-OOP, info-bit

#464 update tiny js world with classes
  submissions/YuliiaDyka/oop-exercise/index.js
Labels: task-TJSW-OOP, self-check-done

#360 added DOM-API homework
  submissions/YuliiaDyka/dom-api/base.js
  submissions/YuliiaDyka/dom-api/index.html
  submissions/YuliiaDyka/dom-api/main.js
  submissions/YuliiaDyka/dom-api/style.css
Labels: task-DOM
